<div id="saveBar" ng-if="isChange">
    <button ng-click="save()">Save</button>
</div>
<table ng-table-dynamic="table with column" show-filter="true"  class="table table-hover table-bordered " ng-click="doReset($event, $data)">

   <tr ng-repeat="row in $data">
       <td class="text-center" ng-repeat="col in $columns">
           <span
                   ng-if="col.field !== 'command' && !row.isEditing">
               {{row[col.field]}}
           </span>
           <span
                   ng-if="col.field !== 'command' && col.field == 'num' && row.isEditing">
               {{row[col.field]}}
           </span>
           <div ng-if="col.field !== 'command' && col.field !== 'num' && row.isEditing">
               <input
                       name="{{col.field}}"
                       ng-model="row[col.field]"
                       class="input-sm"/>
           </div>
           <button
                   class="btn-sm glyphicon glyphicon-pencil"
                   ng-if="col.field == 'command' && !row.isEditing"
                   ng-click="doEdit(row)"></button>
           <button
                   class="btn-sm btn-danger glyphicon glyphicon-trash"
                   ng-if="col.field == 'command' && !row.isEditing"
                   ng-click="doRemove(row)"></button>

           <button
                   class="btn-sm glyphicon glyphicon-ok"
                   ng-if="col.field == 'command' && row.isEditing"
                   ng-click="doConfirm(row)"></button>
           <button
                   class="btn-sm glyphicon glyphicon-remove"
                   ng-if="col.field == 'command' && row.isEditing"
                   ng-click="doCancel(row)"></button>
       </td>

   </tr>
</table>